<body>
{% include svg.svg %}

<header id="main-header">
  <div class="container">
    <div class="logo-container">
      <svg class="logo">
        <use xlink:href="#Reliant_Logo"/>
      </svg>
    </div>
    <div class="brand">
        <h1>Reliant</h1>
        <p class="tagline">dependency injection for iOS and OSX</p>
    </div>
    <div class="project-status">
      <a href="https://travis-ci.org/appfoundry/reliant">
        <img src="https://img.shields.io/travis/appfoundry/Reliant/master.svg" alt="Reliant build status">
      </a>
      <a href="http://cocoadocs.org/docsets/Reliant/2.0.1/">
        <img src="https://img.shields.io/cocoapods/v/Reliant.svg" alt="Cocoapods Version">
      </a>
    </div>

    <section id="downloads">
      <div>
        <a href="https://github.com/appfoundry/Reliant/zipball/master" id="download-zip">
          <svg>
            <use xlink:href="#zip_archive"/>
          </svg>
          <span>Download .zip</span>
        </a>
      </div>
      <div>
        <a href="https://github.com/appfoundry/Reliant/tarball/master" id="download-tar-gz">
          <svg>
            <use xlink:href="#tar_archive"/>
          </svg>
          <span>Download .tar.gz</span>
        </a>
      </div>
      <div>
        <a href="https://github.com/appfoundry/Reliant" id="view-on-github">
          <svg>
            <use xlink:href="#github"/>
          </svg>
          <span>View on GitHub</span>
        </a>
      </div>
    </section>
  </div>
</header>