<head>
	<meta charset="UTF-8">
	<meta name="description" content="Reliant - dependency injection for iOS and OSX - created by AppFoundry"/>
	<meta name="keywords" content="dependency, injection, mobile, iOS, OSX, development, AppFoundry, belgie, belgië, belgium,  iPhone, iPad, applications, app, application, objective-c, swift, software, agile, IoC, inversion, control"/>
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Reliant"/>
	<meta property="og:url" content="http://reliant.appfoundry.be/"/>
	<meta property="og:site_name" content="Reliant"/>
	<meta property="og:image" content="http://reliant.appfoundry.be/images/reliant-heading.png"/>
	<meta property="og:description" content="Reliant - dependency injection for iOS and OSX - created by AppFoundry"/>
	<meta property="twitter:card" content="summary_large_image"/>
	<meta property="twitter:site" content="@AppFoundryBE"/>
	<meta property="twitter:creator" content=" @AppFoundryBE "/>
	<meta property="twitter:title" content="Reliant"/>
	<meta property="twitter:description" content="Reliant - dependency injection for iOS and OSX - created by AppFoundry"/>
	<meta property="twitter:image" content="http://reliant.appfoundry.be/images/reliant-heading.png">
	<title>Reliant - dependency injection for iOS and OSX</title>
	<link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
</head>        