footer {
  background-color: $c-secondary-orange;
  border-top: 10px solid $c-orange;
  padding-bottom: 3em;
  margin-top: 3em;
  section {
    &:first-child {
      @include span(8);
    }

    &:last-child {
      @include span(4);
    }

    h2, p, div {
      color: white;
    }

    div {
     margin-left: 0px;
    }
  }

  a {
    color: white;

    &:hover {
      color: $c-orange;
    }
  }

  
}